<%- include('header'); -%>
<%- include('dashcontainer'); -%>
<body>
	<div class="container col-sm-12" id="mainform">
		<div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">Issue Book</div>
					<div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/booklist">Book list</a></div>
				</div> 
				<div class="panel-body" >
					<form class="form-horizontal" role="form" method="post" action="/issuebook">
						<% if (message.length > 0) { %>
						<div class="alert alert-success col-sm-12"><%= message %></div>
						<% } %>
						<div id="signupalert" style="display:none" class="alert alert-danger">
							<p>Error:</p>
							<span></span>
						</div>
                        <div class="form-group">
							<label for="username" class="col-md-3 control-label">User Id</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="userid" placeholder="User id" required>
							</div>
						</div>
						<div class="form-group">
							<label for="username" class="col-md-3 control-label">User Name</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="username" placeholder="User name" required>
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="col-md-3 control-label">Book Name</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="bookname" placeholder="Book name">
							</div>
						</div>
						<div class="form-group">
							<label for="first_name" class="col-md-3 control-label">ISBN Number</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="ISBN" placeholder="ISBN number" required>
							</div>
						</div>			
						<div class="form-group">						            
							<div class="col-md-offset-3 col-md-9">
								<button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>   Issue Book</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<%- include('footer'); -%>